<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	
	<title>Financial Planner</title>
</head>

	
<body class="d-flex flex-column min-vh-100">

	<div th:replace="~{fragments/navigation :: navigation}"></div>
		

	<div class="container-fluid">
		<div class="py-5">
			<h1>Financial Planner</h1>
		</div>
		
		<div>
			<table class="table table-bordered table-striped">
			  <thead class="table-dark">
			    <tr>
			      <th scope="col"></th>
			      <th scope="col">Plan name</th>
			      <th scope="col">Description</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="tempPlan, iterStat : ${plans}" th:if="${tempPlan.id != null}">
					
					<td th:text="${iterStat.count}" />	
					<td th:text="${tempPlan.name}" />	
					<td th:text="${tempPlan.description}" />	
					
					<!-- Add "update" button/link -->
					<td>
						<a th:href="@{/calculator/planFinance(planId=${tempPlan.id})}"
						   class="btn btn-info btn-sm">
							Edit
						</a>
					</td>
					
			    </tr>
			   
			  </tbody>
			  
			</table>
			<a th:href="@{/calculator/addPlan}" class="btn btn-info btn-lg">
				Add
			</a>
		</div>



		<hr>

		<form action="#" th:action="@{/logout}"  method="post">
		   	<input type="submit" value="log out" />
		</form>
	
	</div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>