<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	
	<title>Investment Return Estimator</title>
</head>
<body class="d-flex flex-column min-vh-100">
	

	<div th:replace="~{fragments/navigation :: navigation}"></div>
		

	<div class="container-fluid">
	
		<div class="row">
			<div class="py-3">
				<h1>Financial Planner</h1>
			</div>
		</div>
		
		<form action="#" th:action="@{/calculator/planFinance/steps}" th:object="${plan}" method="post">
		
			<input type="text" class="form-control" id="inputId" 
							    		th:value="${plan.id}"
							    		th:field="*{id}" hidden="true">
							    		
		    <div class="row">
				<div class="col-sm-3">
					<div class="card text-white bg-info">
					  <div class="card-header">
					  	<label th:text="'Plan Details'"></label>
					  </div>
					<div class="card-body">
					    
						<div class="row py-1"> 
						    <div class="col-sm">
								<label for="inputName">Plan Name</label>
							</div>
						    <div class="col-sm">
						    	<input type="text" class="form-control" id="inputName" placeholder="Name" 
						    		th:value="${plan.name}"
						    		th:field="*{name}">
						    </div>
					    </div>
					    
					    <div class="row py-1"> 
						    <div class="col-sm">
								<label for="inputDescription">Description</label>
							</div>
						    <div class="col-sm">
						    	<textarea class="form-control" id="inputDescription" placeholder="Description" 
						    		rows="3"
						    		th:value="${plan.description}"
						    		th:field="*{description}"></textarea>
						    </div>
					    </div>
					    <hr>
					    <div class="row py-1"> 
						    <div class="col-sm">
								<label for="inputDuration">Starting Amount</label>
							</div>
						    <div class="col-sm">
						    	<input type="text" class="form-control" id="inputStartingAmount" placeholder="Starting Amount" 
						    		th:value="${plan.startingAmount} !='0.0' ? ${plan.startingAmount}:''"
						    		th:field="*{startingAmount}">
						    </div>
					    </div>
				    </div>
					</div>
				</div>
			</div>
						    
			<div th:each="step, iterStat : ${plan.steps}">
				
				<div class="row py-3">
				
					<div class="col-sm-3">
						<div class="card text-white bg-info">
						  <div class="card-header">
						  	<label th:text="'Step ' + ${iterStat.count}"></label>
						  </div>
						  <div class="card-body">
						    <h5 class="card-title">Info card title</h5>
						    
						    
						    <div class="row py-1"> 
							    <div class="col-sm">
								    <label for="inputDuration">Duration</label>
							    </div>
							    
							    <div class="col-sm">
							    	<input type="text" class="form-control" id="inputDuration" placeholder="Years"					    		
							    		th:field="*{steps[__${iterStat.index}__].duration}">
							    </div>
						    </div>
						    
						    <div class="row py-1"> 
							    <div class="col-sm">
								    <label for="inputReturnRate">Return Rate</label>
							    </div>
							    
							    <div class="col-sm">
							    	<input type="text" class="form-control" id="inputReturnRate" placeholder="%"
							    		th:field="*{steps[__${iterStat.index}__].returnRate}">
							    </div>
						    </div>
						    
						    <div class="row py-1"> 
							    <div class="col-sm">
								    <label for="inputAdditionalContribution">Additional Contribution</label>
							    </div>
							    
							    <div class="col-sm">
							    	<input type="text" class="form-control" id="inputAdditionalContribution" placeholder="$"
							    		th:field="*{steps[__${iterStat.index}__].additionalContribution}">
							    </div>
						    </div>
						    
						     <div class="row py-1"> 
							    <div class="col-sm">
								    <label for="contributionTiming">Contribution Timing</label>
							    </div>
							    
							    <div class="col-sm">
							    	<div class="form-check">
									  <input class="form-check-input" type="radio" th:name="'radioContributionTiming' + ${step.id}" th:id="'radioMonthlyContribution' + ${step.id}" 
									  	th:field="*{steps[__${iterStat.index}__].contributionTiming}" th:value="monthly">
									  <label class="form-check-label" th:for="'radioMonthlyContribution' + ${step.id}">
									    Monthly
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" th:name="'radioContributionTiming' + ${step.id}" th:id="'radioYearlyContribution' + ${step.id}"
									  	th:field="*{steps[__${iterStat.index}__].contributionTiming}" th:value="yearly">
									  <label class="form-check-label" th:for="'radioYearlyContribution' + ${step.id}">
									    Yearly
									  </label>
									</div>
							    </div>
								
						    </div>
						    
						  </div>
			
					  
						  <div class="card-footer">
    						<div class="btn-group d-flex btn-group-sm" role="group">
    							<button class="btn btn-success" 
    								type="submit" name="action" th:value="'add,'+${iterStat.index}">Add</button>
    							<button th:class="${iterStat.size == 1} ? 'btn btn-danger disabled' : 'btn btn-danger'" 
    								type="submit" name="action" th:value="'remove,'+${iterStat.index}">Remove</button>
    						</div>
					        <!-- <div class="btn-group d-flex btn-group-sm" role="group" aria-label="Basic example">
							  <a th:href="@{/calculator/planFinance/steps(planId=${plan.id}, stepIndex=${iterStat.count}, action='add')}" 
							  	class="btn btn-success">Add</a>
							  	
							  <a th:href="@{/calculator/planFinance/steps(planId=${plan.id}, stepIndex=${iterStat.count}, action='remove')}" 
							  	th:class="${iterStat.count == 1} ? 'btn btn-danger disabled' : 'btn btn-danger'" >Remove</a>
							</div> -->
				      	  </div>
			      	  	</div>
		      	  	</div>
		      	  	
		      	  	<div class="col-sm-3"><!-- Placeholder for graph --></div>
		      	  	<div class="col-sm-6"><!-- Placeholder for table --></div>
				</div>
			</div>
			
			
			
			<div class="row py-1">
				<div>
					<a class="btn btn-primary btn-lg">calculate</a>
				</div>
			</div>

		</form>
		
	</div>
	
	
	
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>






































